
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding:0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    max-height: fit-content;
    


}


body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    background: linear-gradient(#1c0522,rgb(0, 0, 0));

}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-align: center;

 
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex; 

}

header u1{
    justify-content: center;
    align-items: center; 
    display: flex; 


}
header u1 li{
    list-style: none;
    margin-left: 20px;
    padding-bottom: 15px;

    
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

section img #moon{
    mix-blend-mode: screen;
}


#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 2.5em;
    font-weight: 700;
    font-family:'Courier New', monospace;
    transform: translateY(50px);

}

#btn:hover{
    background: rgb(0, 0, 0);
    color: #ffffff
}


.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
    z-index: 100;
}


.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

.copyright c{
    color: white;
    position: relative;
}

.copyright{
    text-align: center;
    justify-content: center;
    align-items: center;
}



@media (max-width: 35em){

    header .logo{

        position: fixed;
        inset: 7% 0 50% 0;
        display: flex;
        text-align: center;
        text-shadow: 5px 5px 15px #1c0522;
        
     }

    header u1{
       --gap: 3em;
       position: fixed;
       z-index: 1000;
       inset: 15% 0 50% 0;

       flex-direction: column;
       padding: min(4vh, 5rem) 2em;

       
       background: rgba(0, 0, 0, 0.3);
       backdrop-filter: blur(.2rem);

    }

    #btn{

        position: fixed;
        inset: 45% 0 50% 0;
 
        text-align: center;
        
        
     }

     .sec{
        position: relative;
        inset: 70% 0 50% 0;
        background: #1c0522;
        z-index: 100;
    }

    section img{

        inset: 0 50% 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }

}


@-ms-viewport{
    width: device-width;
    height: device-height;
}