@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  margin-top: 100px;
  background: rgb(0, 0, 0);
  overflow-y: hidden;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

header .logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}


header u1{
  display: flex;
  justify-content: center;
  align-items: center;
}
header u1 li{
  list-style: none;
  margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}

section{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    
}

.container{
    overflow-y: scroll;
    height: 86%;
    scroll-snap-type: y mandatory;
    
   
}  
    
.writing{
    background: linear-gradient(rgb(94, 180, 214),black);
    background-size: contain;
    height: 100%;   
}


.writing p {
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    height:100%;
    width: 100%;
    text-indent: 60px;
    padding: 150px;
}
  
.writing .p .b{
  color: rgb(255, 255, 255);
  font-family:'Courier New', Courier, monospace;
  font-size: 2em;
  height: 100%; 
  text-indent: 60px;
  padding: 150px;
}

.writing .p .d{
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 15%;
}

.visualNovel{
    background: url(images/Eshore.jpg); 
    background-size: contain;
}


.pdf{
  background: url(images/Eshore.jpg); 
  background-size: contain;
  
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

b{
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    margin-left: 10%;
    margin-bottom: 15%;
}

d{
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 15%;
}
.copyright c{
  color: white;
  font-size: .7em;
  

}

#footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}


.mobile-nav-toggle{
  display: none;
}

#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  background: #fff;
  color: #2b1055;
  font-size: 1.2em;
  font-weight: 600;
  font-family:'Courier New', monospace;

}

#btn:hover{
  background: rgb(0, 0, 0);
  color: #ffffff
}

.flex{
  display: flex;
  gap: var(--gap, .4rem);
}




@media (max-width: 60em){

  header .logo{
    margin: 1.5rem;
    position: fixed;
    inset: 0 0 50% 0;
    display: inline-block;
    text-align: left;
    height: 10px;
    padding-right: 20%;
    
 }

   .primary-navigation{
         --gap: 2.5em;
  
         position: fixed;
         z-index: 1000;
         inset: 0 0 0 30%;
  
         flex-direction: column;
         padding: min(30vh, 10rem) 2em;
  
         
         background: rgba(0, 0, 0, 0.6);
         backdrop-filter: blur(.1rem);
  
         transform: translateX(100%);
  
      }
  
      .primary-navigation[data-visible = "true"]{
          transform: translateX(0%);
      }
  
      .mobile-nav-toggle{
          display: block;
          position: absolute;
          z-index: 9999;
          background-image: url(TOC/images/hamburger.jpg);
          background-repeat: no-repeat;
          width: 2rem;
          aspect-ratio: 1;
          top: 2rem;
          right: 2rem;
      }
  

      .writing p {
        color: #fff;
        font-family:'Courier New', Courier, monospace;
        font-size: 100%;
        height: 100%;
        width: 100%;
        text-indent: 60px;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 15px;
    }


    section{
      scroll-snap-stop: normal;
  
    }
    
    .container{
      overflow-y: scroll;
      scroll-snap-type: none;
      height: 100%;
      width: 100%;

    }

    .switch{
      margin-top: 6%;
    }
  
  }
  
@-ms-viewport{
  width: device-width;
  height: device-height;
}