*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;


}

header u1{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li{
    list-style: none;
    margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}

.mobile-nav-toggle{
    display: none;
}

.flex{
    display: flex;
    gap: var(--gap, .4rem);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*********************************************/
.about{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(94, 180, 214),black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.6);
}

.text{
    width: 650px;
    max-width: 100%;
    padding: 0 20px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p{
    color: #c0c4d6;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-indent: 30px;
}

.text button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 10%;
    font-size: 17px;
    font-weight: bold;
}

.text button:hover{
    transform: scale(1.2);
    background-color:  transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}


.copyright {
    color: white;
    font-size: .7em;
    

}

#footer {
    bottom: 0%;

    position: fixed;
    
}

@media screen and (max-width: 60em) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }

    header .logo{
        margin: 1.5rem;
        position: fixed;
        inset: 0px 0 50% 0;
        display: inline-block;
        text-align: left;
        height: 10px;
        
     }
 
 }
 
 @media (max-width: 60em){
 .primary-navigation{
        --gap: 2.5em;
 
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
 
        flex-direction: column;
        padding: min(4vh, 5rem) 2em;
        font-weight: 500;
        
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(.1rem);
 
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        overflow-x: hidden;
     }
 
 
     .primary-navigation[data-visible = "true"]{
         transform: translateX(0%);
     }
 
     .mobile-nav-toggle{
         display: block;
         position: absolute;
         z-index: 9999;
         background-image: url(../TOC/images/hamburger.png);
         background-repeat: no-repeat;
         background-size: 35px 35px;
         background-color: transparent;
         width: 4rem;
         border: 0;
         aspect-ratio: 1;
         top: 2rem;
         right: 2rem;
     }
 
     .mobile-nav-toggle[aria-expanded="true"]{
         background-image: url(../TOC/images/close.png);
         background-size: 25px 25px;
     }
}

@media screen and (max-width: 60em) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}