*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

/**********************************************************************************************/
/*                                       HEADER STUFF                                         */
/**********************************************************************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;


}

header u1{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li{
    list-style: none;
    margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}


/**********************************************************************************************/
/*                                      ABOUT SECTION                                         */
/**********************************************************************************************/
.about{
    width: 100%;
    height: 100vh;
    background-color: #1c0522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2337637c' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    display: flex;
    justify-content: center;
    align-items:center;
}

.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.6);

    animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0.2;
      line-height: 200px;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      line-height: 25px;
    }
  }

.text{
    width: 650px;
    max-width: 100%;
    padding: 0 20px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.text p{
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-indent: 30px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.text button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 10%;
    font-size: 17px;
    font-weight: bold;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.text button:hover{
    transform: scale(1.2);
    background-color:  transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}




/**********************************************************************************************/
/*                                      FAQ SECTION                                           */
/**********************************************************************************************/

.faq{
    width: 100%;
    height: 100vh;
    background-color: #1c0522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2337637c' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    display: flex;
    justify-content: center;
    align-items:center;
}

.container-fluid{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.container-fluid h2{
    color: #ffcc74;
    font-weight: 600;
    font-size: 85px;
    position: relative;
    width: 90rem;
    margin-bottom: 5%;
}

.container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
    background-color: #ffcc74;
}

.accordion{
    width: 100%;
    padding: 0 5px;
    background-color: #000000;
    border: 2px solid #ffcc74;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
    transition: all .2s ease-in;
}

.accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(../deerBG.png) no repeat 8px 7px #6db5ff;
    border-radius: 50%;
    float: left;
    transition: all .2s ease-in;
}

.accordion h5{
    font-size: 36px;
    margin: 0;
    padding: 5px 0 0 0;
    font-weight: 400;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

.active .icon{
    background: url(../deerBG.png) no repeat 8px -25px #fff;
}

.active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.active h5{
    color: rgb(0, 0, 0);
}

.panel{
    z-index: 9999;
    padding: 0 15px;
    border-left: 1px solid #ffcc74;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    margin-left: 25px;
    font-size: 30px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in;
}

.panel p{
    font-family:'Courier New', Courier, monospace;
}

/**********************************************************************************************/
/*                              MOBILE NAV BUTTON STUFF                                       */
/**********************************************************************************************/
.mobile-nav-toggle{
    display: none;
}


.flex{
    display: flex;
    gap: var(--gap, .4rem);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/**********************************************************************************************/
/*                                MOBILE ADJUSTMENT STUFF                                     */
/**********************************************************************************************/
@media screen and (max-width: 60em) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }

    header .logo{
        margin: 1.5rem;
        position: fixed;
        inset: 0px 0 50% 0;
        display: inline-block;
        text-align: left;
        height: 10px;
        
     }
 
 }
 
 @media (max-width: 60em){
 .primary-navigation{
        --gap: 2.5em;
 
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
 
        flex-direction: column;
        padding: min(4vh, 5rem) 2em;
        font-weight: 500;
        
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(.1rem);
 
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        overflow-x: hidden;
     }
 
 
     .primary-navigation[data-visible = "true"]{
         transform: translateX(0%);
     }
     .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(../TOC/images/hamburger.png);
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-color: transparent;
        width: 4rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../TOC/images/close.png);
        background-size: 25px 25px;
    }

}

@media screen and (max-width: 60em) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

/**********************************************************************************************/
/*                                    COPYRIGHT STUFF                                         */
/**********************************************************************************************/
.copyright {
    color: white;
    font-size: .7em;
    

}

#footer {
    bottom: 0%;

    position: fixed;
    
}