@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding:0;
    background-size: auto;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#1c0522,rgb(55, 99, 124));
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header u1{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li{
    list-style: none;
    margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}

.mobile-nav-toggle{
    display: none;
}

@media (max-width: 35em){
    header .logo{
       margin: 1.5rem;
       position: fixed;
       inset: 0px 0 50% 0;
       display: inline-block;
       text-align: left;
       height: 10px;
       
    }
}

@media (max-width: 60em){
.primary-navigation{
       --gap: 2em;

       position: fixed;
       z-index: 1000;
       inset: 0 0 0 30%;

       flex-direction: column;
       padding: min(30vh, 10rem) 2em;

       
       background: rgba(0, 0, 0, 0.6);
       backdrop-filter: blur(.1rem);

       transform: translateX(100%);

    }

    .primary-navigation[data-visible = "true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(images/hamburger.jpg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 0.5rem;
    }


}



.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-left: 50px;
    margin-top: 150px;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;

}
/*---------------------------------------------------------------------------------*/
/*--                        CHAPTER CARD Images                                  --*/
/*---------------------------------------------------------------------------------*/
.card-image-test {
    grid-area: image;
    background: url("images/testThumbnail.JPG");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;

}

.card-image-prologue{
    grid-area: image;
    background: url("images/1.1.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
.card-text{                                 
    grid-area: text;
    margin: 25px;
}
.card-text .date{
    color: rgb(25, 77, 12);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
    color: black;
}

.card-stats{
    grid-area: stats;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(41, 100, 56);
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border{
    border-left: 1px solid rgb(25, 77, 12);
    border-right: 1px solid rgb(25, 77, 12);
}

.card-stats .value sup{
    font-size: 12px;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.copyright c{
    color: white;
    font-size: .7em;
    

}

#footer {
    bottom: 0%;
    position: fixed;
    
}





/* Create four equal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index:9999;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 60em) {
    .column {
      width: 100%;
      z-index:9999;
    }
  }