@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding:0;
    background-size: auto;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html body{
    padding-top: 10%;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(82, 122, 196);

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

/**********************************************************************************************/
/*                                       HEADER STUFF                                         */
/**********************************************************************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: black;

}

header .logo{
    color: #fff;
    text-shadow: 5px 5px #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;


}

header u1{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li{
    list-style: none;
    margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}

/**********************************************************************************************/
/*                                    CHAPTER INDEX STUFF                                     */
/**********************************************************************************************/
  
.index{
    position: absolute;
    top: 14%;
    left: 6%;
  }

  .index h2{
    color:white;
  }
  
  .dropbtn {
    background-color: #ffcc74;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0,0,0,1);
    
  }
  
  .dropbtn:hover, .dropbtn:focus{
    background-color: #000000;
    color:white;
    transition: .4s;
    transform: scale(1.1);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff91;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/**********************************************************************************************/
/*                                      CARD CONTAINERS                                       */
/**********************************************************************************************/
/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 20px;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 10px 10px 30px rgba(0,0,0,1);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;

}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    padding-right: 50px;
    padding-bottom: 1px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


/**********************************************************************************************/
/*                                        CARD IMAGES                                         */
/**********************************************************************************************/
.card-image-test {
    grid-area: image;
    background: url("images/testThumbnail.JPG");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;

}

.card-image-prologue{
    grid-area: image;
    background: url("images/1.1.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

/**********************************************************************************************/
/*                                       CARD TEXT                                            */
/**********************************************************************************************/
.card-text{                                 
    grid-area: text;
    margin: 25px;
}
.card-text .date{
    color: rgb(25, 77, 12);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
    color: black;
}

/**********************************************************************************************/
/*                                      CARD STATS                                            */
/**********************************************************************************************/
.card-stats{
    grid-area: stats;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #ffcc74;
}

.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border{
    border-left: 1px solid #bb8a37;
    border-right: 1px solid #bb8a37;
}

.card-stats .value sup{
    font-size: 12px;
}



/**********************************************************************************************/
/*                              MOBILE NAV BUTTON STUFF                                       */
/**********************************************************************************************/

.mobile-nav-toggle{
    display: none;
}

.flex{
    display: flex;
    gap: var(--gap, .4rem);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/**********************************************************************************************/
/*                                MOBILE ADJUSTMENT STUFF                                     */
/**********************************************************************************************/
@media (max-width: 60em){
    header .logo{
       margin: 1.5rem;
       position: fixed;
       inset: 0px 0 50% 0;
       display: inline-block;
       text-align: left;
       height: 10px;
       
    }

    html body{
        padding-top: 50%;
    }
}

@media (max-width: 60em){
.primary-navigation{
       --gap: 2.5em;

       position: fixed;
       z-index: 1000;
       inset: 0 0 0 30%;

       flex-direction: column;
       padding: min(4vh, 5rem) 2em;
       font-weight: 500;
       
       background: rgba(0, 0, 0, 0.6);
       backdrop-filter: blur(.1rem);

       transform: translateX(100%);
       transition: transform 350ms ease-out;
       overflow-x: hidden;
    }


    .primary-navigation[data-visible = "true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(images/hamburger.png);
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-color: transparent;
        width: 4rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(images/close.png);
        background-size: 25px 25px;
    }

    .card{
        margin-right: 1vw;
        width: 300px;

        
    }

    .column{
        display: flex;
        justify-content: center;

    }


}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 90em) {
    .column {
      display: flex;
      justify-content: center;
      flex: 50%;
   
    }
      
  }

    /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 60em) {
        .column {
          width: 100%;
          
        }
      }
    
  

  
/**********************************************************************************************/
/*                                    COPYRIGHT STUFF                                         */
/**********************************************************************************************/
.copyright c{
    color: white;
    font-size: .7em;
    

}

#footer {
    bottom: 0%;
    position: fixed;
    
}
