@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  margin-top: 100px;
  background: rgb(0, 0, 0);
  overflow-y: hidden;
}


/**********************************************************************************************/
/*                                       HEADER STUFF                                         */
/**********************************************************************************************/
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

header .logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}


header u1{
  display: flex;
  justify-content: center;
  align-items: center;
}
header u1 li{
  list-style: none;
  margin-left: 20px;
}

header u1 li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
}
header u1 li a:hover, header u1 li a.active {
    background: #fff;
    color: #2b1055
}

/**********************************************************************************************/
/*                                   MUSIC TOGGLE STUFF                                       */
/**********************************************************************************************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5%;
  margin-bottom: 2%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/**********************************************************************************************/
/*                                   CONTENT BOX STUFF                                        */
/**********************************************************************************************/

section{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    
}

.container{
    overflow: auto;
    height: 86%;
    scroll-snap-type: y mandatory;
    
   
}  

/**********************************************************************************************/
/*                                     WRITING STUFF                                          */
/**********************************************************************************************/

.writing{
    background: linear-gradient(rgb(94, 180, 214),black);
    background-size: contain;
    height: 100%;
}


.writing p {
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    width: 100%;
    text-indent: 60px;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;

}
  
.writing .p .b{
  color: rgb(255, 255, 255);
  font-family:'Courier New', Courier, monospace;
  font-size: 2em;
  text-indent: 60px;
}

.writing .p .d{
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  
}


b{
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  margin-left: 10%;
  margin-bottom: 15%;
}

d{
color: #ffffff;
font-family:'Courier New', Courier, monospace;
font-size: 1em;
font-weight: bold;

}

.floating { 
  position: absolute;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 2px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 17px); }
  100%   { transform: translate(0, -0px); }   
}



/**********************************************************************************************/
/*                                  VISUAL NOVEL STUFF                                        */
/**********************************************************************************************/

.visualNovel{
  background: radial-gradient( rgba(255, 255, 255, 0.116), rgb(7, 218, 218)),rgba(0,0,0,0.9) url("../../twigBG.jpg");
  background-blend-mode: darken;
  backdrop-filter: blur(0.4px);
  background-size: cover;
}

/**********************************************************************************************/
/*                                   COMIC PDF STUFF                                          */
/**********************************************************************************************/
.pdf{
  background: radial-gradient( rgba(255, 255, 255, 0.116), rgb(7, 218, 218)),rgba(0,0,0,0.9) url("../../twigBG.jpg");
  background-blend-mode: darken;
  backdrop-filter: blur(0.4px);
  background-size: cover;
  
}


/**********************************************************************************************/
/*                                   END SECTION BG                                           */
/**********************************************************************************************/
.end{
  background: radial-gradient( rgba(255, 255, 255, 0.116), rgb(197, 23, 154)),rgba(0,0,0,0.7) url("../../twigBG.jpg");
  background-blend-mode: darken;
  backdrop-filter: blur(0.4px);
  background-size: cover;
  
}


/**********************************************************************************************/
/*                              NEXT CHAPTER BUTTON STUFF                                     */
/**********************************************************************************************/
#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  background: #fff;
  color: #2b1055;
  font-size: 1.2em;
  font-weight: 600;
  font-family:'Courier New', monospace;

  margin-right: 3%;

}

#btn:hover{
  background: rgb(0, 0, 0);
  color: #ffffff
}


/**********************************************************************************************/
/*                                COMMENT SECTION STUFF                                       */
/**********************************************************************************************/

#HCB_comment_box{
    border: 2px solid #FFFFFF; 
    border-radius: 5px; 
    padding: 10px; 
    width: 100%;
    margin: 5%;
    margin-top: 10%;
    color:#FFFFFF; 
    background: rgba(0, 0, 0, 0.596);
}
.hcb-mod b{
    color:#0088AF;
}
    #HCB_comment_box textarea,#HCB_comment_box input.text{border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;background-color:#f8f8f8;}
    #HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left;}
    #HCB_comment_box .hcb-wrapper{clear:both;}
    #HCB_comment_box input.text{display:block;width:95%;}
    #HCB_comment_box input.submit{border-top:1px solid #FCB1A2;border-left:1px solid #FCB1A2;border-bottom:1px solid #BB2B0F;border-right:1px solid #BB2B0F;background-color:#F26646;color:#000;font-weight:bold;cursor:pointer;}
    #HCB_comment_box div.comment{color:#FDB3A5; background: rgba(0, 0, 0, 0.5); border:3px double #F26646 ; margin:5px; padding:2px;}
    #HCB_comment_box .comment .likes{color: #00FF00;}
    #HCB_comment_box .hcb-link{color:#0088AF;text-decoration:none;
} 

/**********************************************************************************************/
/*                              MOBILE NAV BUTTON STUFF                                       */
/**********************************************************************************************/
.mobile-nav-toggle{
  display: none;
}


.flex{
  display: flex;
  gap: var(--gap, .4rem);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}



/**********************************************************************************************/
/*                                MOBILE ADJUSTMENT STUFF                                     */
/**********************************************************************************************/
@media (max-width: 60em){

  header .logo{
    margin: 1.5rem;
    position: fixed;
    inset: 0 0 50% 0;
    display: inline-block;
    text-align: left;
    height: 10px;
    padding-right: 20%;
    
 }

   .primary-navigation{
         --gap: 2.5em;
  
         position: fixed;
         z-index: 1000;
         inset: 0 0 0 30%;
  
         flex-direction: column;
         padding: min(30vh, 10rem) 2em;
  
         
         background: rgba(0, 0, 0, 0.6);
         backdrop-filter: blur(.1rem);
  
         transform: translateX(100%);
         transition: transform 350ms ease-out;
  
      }
  
      .primary-navigation[data-visible = "true"]{
          transform: translateX(0%);
      }

      .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url(../../TOC/images/hamburger.png);
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-color: rgba(255, 255, 255, 0);
        width: 4rem;
        aspect-ratio: 1;
        top: 3rem;
        right: 2rem;
      }
      
      .mobile-nav-toggle[aria-expanded="true"]{
      background-image: url(../../TOC/images/close.png);
      background-size: 25px 25px;
      }
  

    .writing{
      height:fit-content;
    }

    section{
      scroll-snap-stop: normal;
  
    }
    
    .container{
      overflow-y: scroll;
      scroll-snap-type: none;
      width: 100%;

    }

    .switch{
      margin-top: 6%;
    }
  
  }
  
@-ms-viewport{
  width: device-width;
  height: device-height;
}

/**********************************************************************************************/
/*                                    COPYRIGHT STUFF                                         */
/**********************************************************************************************/
.copyright c{
  color: white;
  font-size: .7em;
  

}

#footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
